# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore uploaded images
static/uploads/

# Ignore model files
*.pkl
*.pt


# Ignore IDE/editor settings
.vscode/
.idea/
